<section id =loader>
  <div class="rect">
  </div>
  <div>
    <button onclick="document.querySelector('.rect').classList.toggle('paused');">
      Puase
    </button>
  </div>
</section>
<div class="three-dot-spinner">
  <div></div>
  <div></div>
  <div></div>
</div>