<button class="mobile-menu-icon"
        onclick="document.querySelector('body').classList.toggle('menu-open');">
  <span></span>
  <span></span>
  <span></span>
</button>
<div id="container">
  <div class="animate-title">
    animation
  </div>
  <button onclick="document.querySelector('.animate-title').classList.toggle('inview');">Animation</button>
</div>