<div id="gsap">
  <div class="tween-animate-title">
    PLAY ANIMATION PLAY ANIMATIONPLAY ANIMATIONPLAY ANIMATIONPLAY ANIMATION
  </div>
</div>

<%#= javascript_pack_tag 'modules/scroll' %>
<%#= javascript_pack_tag 'animation' %>
<%#= javascript_pack_tag 'modules/text_animation' %>

